/* _________________ Definir campo de trabajo en Escolares _________________ */

.all {
    display: flex;
}

.r_top {
    height: 44px;
    border-bottom: 1px solid black;
}

.rigth {
    width: 100%;
    border: 1px solid black;
}


/* _________________ Mouse de seleccion en listas _________________ */

.form-select {
    cursor: pointer;
}


/* _________________ Invisible Space _________________ */

.invisible {
    width: 0;
    height: 0;
    overflow: hidden;
    white-space: nowrap;
}


/* _________________ Responsive basico _________________ */

@media (min-width: 556px) {}

@media (min-width: 992px) {
    .left {
        min-width: 240px !important;
        max-width: 240px !important;
        border: 1px solid black;
        border-right: 0px;
    }
    .nav-header {
        height: 60px;
        border: 1px solid black;
        border-bottom: 0px;
    }
}

@media (min-width: 1400px) {
    .left {
        min-width: 280px !important;
        max-width: 280px !important;
    }
}